In [2]:
fileNameWithPath = input('Enter file with path: ')
df = pd.ExcelFile(fileNameWithPath)
print(df.sheet_names)
z= df.parse('Sheet1')
print(z)

Enter file with path: Data annotation\RESEARCH WORK\Research_Work.xlsx
['Sheet1']
                ACTIVITY       DATE  CAMERA ACTUAL (START) ACTUAL(END)  \
0            WALKING - A 2021-06-01       1       02:47:28    02:47:34
1            WALKING - A 2021-06-01       1       02:48:10    02:48:13
2            WALKING - A 2021-06-01       1       02:48:28    02:48:34
3            WALKING - A 2021-06-01       1       03:04:38    03:05:11
4            WALKING - A 2021-06-01       1       04:09:05    04:09:11
5            WALKING - A 2021-06-01       1       04:11:51    04:11:58
6            WALKING - A 2021-06-01       1       04:12:43    04:12:49
7            WALKING - A 2021-06-01       1       04:14:21    04:14:27
8            WALKING - A 2021-06-01       1       04:14:58    04:15:05
9            WALKING - A 2021-06-01       1       04:55:41    04:55:53
10           WALKING - A 2021-06-01       1       04:57:21    04:57:26
11           WALKING - A 2021-06-01       1       04:58:33    04:58:36
12           WALKING - A 2021-06-01       1       04:58:45    04:58:49
13           WALKING - A 2021-06-01       1       04:58:58    04:59:14
14           WALKING - A 2021-06-01       2       14:11:18    14:11:26
15           WALKING - A 2021-06-01       2       14:11:53    14:12:04
16           WALKING - A 2021-06-01       2       14:12:35    14:12:44
17           WALKING - A 2021-06-01       2       14:13:02    14:13:10
18           WALKING - A 2021-06-01       2       14:13:35    14:13:41
19           WALKING - A 2021-06-01       2       14:13:37    14:13:41
20           WALKING - A 2021-06-01       2       14:17:18    14:18:26
21           WALKING - A 2021-06-01       2       14:17:43    14:18:22
22           WALKING - A 2021-06-01       2       14:56:35    14:56:46
23           WALKING - A 2021-06-01       2       14:57:06    14:57:14
24           WALKING - A 2021-06-01       2       15:56:00    15:56:08
25           WALKING - A 2021-06-01       2       15:58:21    15:58:31
26           WALKING - A 2021-06-01       2       16:07:44    16:07:52
27           WALKING - A 2021-06-01       3       14:11:45    14:11:53
28           WALKING - A 2021-06-01       3       14:12:40    14:12:50
29           WALKING - A 2021-06-01       3       14:12:54    14:13:03
..                   ...        ...     ...            ...         ...
46          STANDING - B 2021-07-01       2       14:47:34    14:48:11
47          STANDING - B 2021-07-01       2       14:51:24    14:56:34
48          STANDING - B 2021-07-01       2       14:56:46    14:57:06
49          STANDING - B 2021-07-01       2       14:57:15    14:57:30
50          STANDING - B 2021-07-01       2       15:58:41    15:59:41
51          STANDING - B 2021-07-01       2       16:00:29    16:00:50
52          STANDING - B 2021-07-01       2       16:06:41    16:07:43
53          STANDING - B 2021-07-01       2       16:07:34    16:07:44
54          STANDING - B 2021-07-01       3       16:06:00    16:06:07
55           SITTING - C 2021-07-01       1       02:41:16    02:46:21
56           SITTING - C 2021-07-01       1       03:05:11    03:09:00
57           SITTING - C 2021-07-01       1       03:25:08    03:30:12
58           SITTING - C 2021-07-01       1       03:46:36    03:51:38
59           SITTING - C 2021-07-01       1       05:15:13    05:17:17
60           SITTING - C 2021-07-01       2       11:08:19    11:08:27
61           SITTING - C 2021-07-01       2       13:36:21    13:47:55
62           SITTING - C 2021-07-01       2       14:11:15    14:11:18
63           SITTING - C 2021-07-01       2       14:18:22    14:22:24
64           SITTING - C 2021-07-01       2       14:50:13    14:50:45
65           SITTING - C 2021-07-01       2       17:09:49    17:18:09
66   CLEANING DISHES - D 2021-07-01       1       02:41:16    02:41:36
67           FEEDING - E 2021-07-01       1       03:28:07    03:28:10
68           FEEDING - E 2021-07-01       1       04:58:58    04:59:13
69           FEEDING - E 2021-07-01       2       16:02:54    16:03:34
70  PREPARE SANDWICH - F 2021-07-01       1       04:57:59    04:58:32
71     CLEANING ROOM - G 2021-07-01       2       16:06:46    16:06:53
72     CLEANING ROOM - G 2021-07-01       2       16:06:58    16:07:07
73     CLEANING ROOM - G 2021-07-01       2       16:07:14    16:07:27
74         TELEPHONE - H 2021-07-01       2       14:18:36    14:19:57
75         TELEPHONE - H 2021-07-01       2       14:18:36    14:19:57

   TIMESTAMP
0   00:00:06
1   00:00:03
2   00:00:06
3   00:00:33
4   00:00:06
5   00:00:07
6   00:00:06
7   00:00:06
8   00:00:07
9   00:00:12
10  00:00:05
11  00:00:03
12  00:00:04
13  00:00:16
14  00:00:08
15  00:00:11
16  00:00:09
17  00:00:08
18  00:00:06
19  00:00:04
20  00:01:08
21  00:00:39
22  00:00:11
23  00:00:08
24  00:00:08
25  00:00:10
26  00:00:08
27  00:00:08
28  00:00:10
29  00:00:09
..       ...
46  00:00:37
47  00:05:10
48  00:00:20
49  00:00:15
50  00:01:00
51  00:00:21
52  00:01:02
53  00:00:10
54  00:00:07
55  00:05:05
56  00:03:49
57  00:05:04
58  00:05:02
59  00:02:04
60  00:00:08
61  00:11:34
62  00:00:03
63  00:04:02
64  00:00:32
65  00:08:20
66  00:00:20
67  00:00:03
68  00:00:15
69  00:00:40
70  00:00:33
71  00:00:07
72  00:00:09
73  00:00:13
74  00:01:21
75  00:01:21

[76 rows x 6 columns]

In [1]:
import pandas as pd
fileNameWithPath = input('Enter file with path: ')
df = pd.ExcelFile(fileNameWithPath)
print(df.sheet_names)
z= df.parse('ACC')
print(z)

Enter file with path: E4_data\ACC.xlsx
['ACC']
         1529604467  1529604467.1  1529604467.2
0                32            32            32
1               -19           -43           -39
2               -18           -37           -32
3               -33           -33           -46
4                -8           -50           -31
5                -3           -46           -42
6                -7           -48           -49
7               -12           -53           -47
8                -8           -47           -43
9                -2           -57           -56
10               -4           -59           -55
11              -24           -40           -54
12              -16           -40           -48
13              -16           -40           -50
14               -2           -62           -48
15              -19           -44           -43
16              -14           -37           -33
17              -29           -63           -42
18              -32           -61           -42
19              -16           -46           -33
20              -12           -52           -48
21              -38           -48           -37
22              -25           -36           -46
23              -15           -17           -50
24              -21            -8           -46
25               -5            -4           -42
26               14           -19           -49
27               19           -17           -50
28               19           -11           -52
29               28           -21           -53
...             ...           ...           ...
1048545          -1            64             7
1048546          -1            63             7
1048547          -1            64             7
1048548          -1            63             7
1048549          -1            63             7
1048550          -1            64             7
1048551          -1            64             7
1048552          -1            64             7
1048553          -1            63             7
1048554          -1            63             7
1048555          -1            63             7
1048556          -1            63             7
1048557          -1            64             7
1048558          -1            64             7
1048559          -1            64             7
1048560          -1            64             7
1048561          -1            63             7
1048562          -1            63             7
1048563          -1            63             7
1048564          -1            64             7
1048565          -1            64             7
1048566          -1            64             7
1048567          -1            63             7
1048568          -1            63             7
1048569          -1            63             7
1048570          -1            63             7
1048571          -1            64             7
1048572          -1            64             7
1048573          -1            64             7
1048574          -1            63             7

[1048575 rows x 3 columns]

In [2]:
import pandas as pd
fileNameWithPath = input('Enter file with path: ')
df = pd.ExcelFile(fileNameWithPath)
print(df.sheet_names)
z= df.parse('BVP')
print(z)

Enter file with path: E4_data\BVP.xlsx
['BVP']
         1529604467
0             64.00
1              0.00
2              0.00
3              0.00
4              0.00
5              0.00
6              0.00
7              0.00
8              0.00
9              0.00
10             0.00
11             0.00
12             0.01
13             0.01
14             0.00
15            -0.03
16            -0.05
17            -0.05
18             0.00
19             0.13
20             0.36
21             0.66
22             1.01
23             1.37
24             1.72
25             2.06
26             2.40
27             2.79
28             3.24
29             3.80
...             ...
1048545       -8.24
1048546       -0.30
1048547        1.66
1048548       -1.95
1048549      -10.79
1048550      -23.75
1048551      -39.27
1048552      -55.32
1048553      -70.05
1048554      -82.70
1048555      -93.37
1048556     -103.88
1048557     -116.04
1048558     -130.72
1048559     -146.64
1048560     -159.43
1048561     -163.67
1048562     -154.53
1048563     -130.72
1048564      -95.30
1048565      -55.74
1048566      -21.01
1048567        2.17
1048568       11.58
1048569       11.06
1048570        6.78
1048571        4.02
1048572        4.91
1048573        8.90
1048574       13.73

[1048575 rows x 1 columns]

In [3]:
import pandas as pd
fileNameWithPath = input('Enter file with path: ')
df = pd.ExcelFile(fileNameWithPath)
print(df.sheet_names)
z= df.parse('EDA')
print(z)

Enter file with path: E4_data\EDA.xlsx
['EDA']
        1529604467
0         4.000000
1         0.000000
2         0.001281
3         0.023061
4         0.023061
5         0.024342
6         0.024342
7         0.025624
8         0.025624
9         0.026905
10        0.026905
11        0.026905
12        0.026905
13        0.026905
14        0.024342
15        0.025624
16        0.025624
17        0.025624
18        0.026905
19        0.025624
20        0.025624
21        0.025624
22        0.024342
23        0.024342
24        0.023061
25        0.023061
26        0.023061
27        0.021780
28        0.023061
29        0.023061
...            ...
361297    0.012812
361298    0.014093
361299    0.014093
361300    0.014093
361301    0.012812
361302    0.012812
361303    0.014093
361304    0.014093
361305    0.012812
361306    0.012812
361307    0.012812
361308    0.014093
361309    0.014093
361310    0.015374
361311    0.012812
361312    0.012812
361313    0.014093
361314    0.014093
361315    0.012812
361316    0.012812
361317    0.015374
361318    0.014093
361319    0.014093
361320    0.014093
361321    0.012812
361322    0.012812
361323    0.014093
361324    0.014093
361325    0.017936
361326    0.014093

[361327 rows x 1 columns]

In [4]:
import pandas as pd
fileNameWithPath = input('Enter file with path: ')
df = pd.ExcelFile(fileNameWithPath)
print(df.sheet_names)
z= df.parse('HR')
print(z)

Enter file with path: E4_data\HR.xlsx
['HR']
       1529604477
0            1.00
1           74.00
2           62.50
3           59.00
4           64.00
5           66.40
6           65.33
7           64.57
8           64.00
9           63.56
10          63.20
11          62.55
12          61.58
13          60.69
14          60.43
15          60.27
16          60.19
17          60.18
18          60.17
19          60.47
20          60.50
21          60.57
22          60.82
23          60.96
24          61.33
25          61.68
26          62.08
27          62.22
28          62.57
29          62.90
...           ...
90294      109.95
90295      108.98
90296      109.87
90297      108.92
90298      109.17
90299      108.20
90300      108.97
90301      107.63
90302      109.33
90303      107.68
90304      108.82
90305      107.17
90306      108.95
90307      107.28
90308      108.32
90309      107.82
90310      108.90
90311      108.30
90312      109.90
90313      108.28
90314      108.45
90315      107.18
90316      108.25
90317      108.45
90318      108.65
90319      108.53
90320      108.57
90321      108.67
90322      108.82
90323      109.18

[90324 rows x 1 columns]

In [5]:
import pandas as pd
fileNameWithPath = input('Enter file with path: ')
df = pd.ExcelFile(fileNameWithPath)
print(df.sheet_names)
z= df.parse('IBI')
print(z)

Enter file with path: E4_data\IBI.xlsx
['IBI']
        1529604467       IBI
0       121.911830  0.984420
1       122.896250  0.984420
2       123.880670  0.984420
3       124.849465  0.968794
4       125.818259  0.968794
5       126.833930  1.015671
6       127.787099  0.953169
7       128.834022  1.046923
8       135.678085  0.968794
9       136.662505  0.984420
10      137.646925  0.984420
11      277.247065  0.828163
12     1317.154042  0.906291
13     1318.075959  0.921917
14     1318.997876  0.921917
15     1319.919793  0.921917
16     1333.873557  0.828163
17     1347.217918  0.812537
18     1348.264841  1.046923
19     2086.814273  0.812537
20     2087.642436  0.828163
21     2088.501850  0.859414
22     2117.112535  0.718783
23     2123.862844  0.843789
24     2137.347836  0.890666
25     2138.191625  0.843789
26     2139.097916  0.906291
27     2139.847950  0.750034
28     2149.035871  0.828163
29     2149.848408  0.812537
...            ...       ...
1140  64535.657205  0.468771
1141  64536.079099  0.421894
1142  64536.469742  0.390643
1143  64536.969765  0.500023
1144  64542.985665  0.375017
1145  64543.407560  0.421894
1146  64543.829454  0.421894
1147  64630.364665  0.531274
1148  64630.755308  0.390643
1149  64665.225636  0.437520
1150  64665.850664  0.625029
1151  64677.210559  0.515649
1152  64686.382854  0.500023
1153  64795.653481  0.390643
1154  64801.231861  0.500023
1155  64821.810928  0.328140
1156  64827.998712  0.390643
1157  64873.860186  0.390643
1158  64931.597204  0.375017
1159  64931.909718  0.312514
1160  64932.253484  0.343766
1161  64973.974144  0.406269
1162  64993.412533  0.437520
1163  64994.006310  0.593777
1164  65172.405102  0.453146
1165  65207.844224  0.406269
1166  65217.485290  0.375017
1167  65234.236057  0.515649
1168  65394.055872  0.406269
1169  65394.446515  0.390643

[1170 rows x 2 columns]

In [6]:
import pandas as pd
fileNameWithPath = input('Enter file with path: ')
df = pd.ExcelFile(fileNameWithPath)
print(df.sheet_names)
z= df.parse('tags')
print(z)

Enter file with path: E4_data\tags.xlsx
['tags']
Empty DataFrame
Columns: [1529694802.57]
Index: []

In [7]:
import pandas as pd
fileNameWithPath = input('Enter file with path: ')
df = pd.ExcelFile(fileNameWithPath)
print(df.sheet_names)
z= df.parse('TEMP')
print(z)

Enter file with path: E4_data\TEMP.xlsx
['TEMP']
        1529604467
0             4.00
1            25.99
2            25.99
3            25.99
4            25.99
5            25.99
6            25.99
7            25.99
8            25.99
9            25.93
10           25.93
11           25.93
12           25.93
13           29.39
14           29.39
15           29.39
16           29.39
17           30.81
18           30.81
19           30.81
20           30.81
21           30.85
22           30.85
23           30.85
24           30.85
25           31.19
26           31.19
27           31.19
28           31.19
29           31.45
...            ...
361299       23.19
361300       23.19
361301       23.21
361302       23.21
361303       23.21
361304       23.21
361305       23.21
361306       23.21
361307       23.21
361308       23.21
361309       23.21
361310       23.21
361311       23.21
361312       23.21
361313       23.21
361314       23.21
361315       23.21
361316       23.21
361317       23.21
361318       23.21
361319       23.21
361320       23.21
361321       23.23
361322       23.23
361323       23.23
361324       23.23
361325       24.03
361326       24.03
361327       24.03
361328       24.03

[361329 rows x 1 columns]

In [4]:
import pandas as pd
fileNameWithPath = input('Enter file with path: ')
df = pd.ExcelFile(fileNameWithPath)
print(df.sheet_names)
z= df.parse('Sheet1')
print(z)

Enter file with path: Data annotation\RESEARCH WORK\Research_Work.xlsx
['Sheet1']
                ACTIVITY       DATE  CAMERA ACTUAL (START) ACTUAL(END)  \
0            WALKING - A 2021-06-01       1       02:47:28    02:47:34
1            WALKING - A 2021-06-01       1       02:48:10    02:48:13
2            WALKING - A 2021-06-01       1       02:48:28    02:48:34
3            WALKING - A 2021-06-01       1       03:04:38    03:05:11
4            WALKING - A 2021-06-01       1       04:09:05    04:09:11
5            WALKING - A 2021-06-01       1       04:11:51    04:11:58
6            WALKING - A 2021-06-01       1       04:12:43    04:12:49
7            WALKING - A 2021-06-01       1       04:14:21    04:14:27
8            WALKING - A 2021-06-01       1       04:14:58    04:15:05
9            WALKING - A 2021-06-01       1       04:55:41    04:55:53
10           WALKING - A 2021-06-01       1       04:57:21    04:57:26
11           WALKING - A 2021-06-01       1       04:58:33    04:58:36
12           WALKING - A 2021-06-01       1       04:58:45    04:58:49
13           WALKING - A 2021-06-01       1       04:58:58    04:59:14
14           WALKING - A 2021-06-01       2       14:11:18    14:11:26
15           WALKING - A 2021-06-01       2       14:11:53    14:12:04
16           WALKING - A 2021-06-01       2       14:12:35    14:12:44
17           WALKING - A 2021-06-01       2       14:13:02    14:13:10
18           WALKING - A 2021-06-01       2       14:13:35    14:13:41
19           WALKING - A 2021-06-01       2       14:13:37    14:13:41
20           WALKING - A 2021-06-01       2       14:17:18    14:18:26
21           WALKING - A 2021-06-01       2       14:17:43    14:18:22
22           WALKING - A 2021-06-01       2       14:56:35    14:56:46
23           WALKING - A 2021-06-01       2       14:57:06    14:57:14
24           WALKING - A 2021-06-01       2       15:56:00    15:56:08
25           WALKING - A 2021-06-01       2       15:58:21    15:58:31
26           WALKING - A 2021-06-01       2       16:07:44    16:07:52
27           WALKING - A 2021-06-01       3       14:11:45    14:11:53
28           WALKING - A 2021-06-01       3       14:12:40    14:12:50
29           WALKING - A 2021-06-01       3       14:12:54    14:13:03
..                   ...        ...     ...            ...         ...
46          STANDING - B 2021-07-01       2       14:47:34    14:48:11
47          STANDING - B 2021-07-01       2       14:51:24    14:56:34
48          STANDING - B 2021-07-01       2       14:56:46    14:57:06
49          STANDING - B 2021-07-01       2       14:57:15    14:57:30
50          STANDING - B 2021-07-01       2       15:58:41    15:59:41
51          STANDING - B 2021-07-01       2       16:00:29    16:00:50
52          STANDING - B 2021-07-01       2       16:06:41    16:07:43
53          STANDING - B 2021-07-01       2       16:07:34    16:07:44
54          STANDING - B 2021-07-01       3       16:06:00    16:06:07
55           SITTING - C 2021-07-01       1       02:41:16    02:46:21
56           SITTING - C 2021-07-01       1       03:05:11    03:09:00
57           SITTING - C 2021-07-01       1       03:25:08    03:30:12
58           SITTING - C 2021-07-01       1       03:46:36    03:51:38
59           SITTING - C 2021-07-01       1       05:15:13    05:17:17
60           SITTING - C 2021-07-01       2       11:08:19    11:08:27
61           SITTING - C 2021-07-01       2       13:36:21    13:47:55
62           SITTING - C 2021-07-01       2       14:11:15    14:11:18
63           SITTING - C 2021-07-01       2       14:18:22    14:22:24
64           SITTING - C 2021-07-01       2       14:50:13    14:50:45
65           SITTING - C 2021-07-01       2       17:09:49    17:18:09
66   CLEANING DISHES - D 2021-07-01       1       02:41:16    02:41:36
67           FEEDING - E 2021-07-01       1       03:28:07    03:28:10
68           FEEDING - E 2021-07-01       1       04:58:58    04:59:13
69           FEEDING - E 2021-07-01       2       16:02:54    16:03:34
70  PREPARE SANDWICH - F 2021-07-01       1       04:57:59    04:58:32
71     CLEANING ROOM - G 2021-07-01       2       16:06:46    16:06:53
72     CLEANING ROOM - G 2021-07-01       2       16:06:58    16:07:07
73     CLEANING ROOM - G 2021-07-01       2       16:07:14    16:07:27
74         TELEPHONE - H 2021-07-01       2       14:18:36    14:19:57
75         TELEPHONE - H 2021-07-01       2       14:18:36    14:19:57

   TIMESTAMP
0   00:00:06
1   00:00:03
2   00:00:06
3   00:00:33
4   00:00:06
5   00:00:07
6   00:00:06
7   00:00:06
8   00:00:07
9   00:00:12
10  00:00:05
11  00:00:03
12  00:00:04
13  00:00:16
14  00:00:08
15  00:00:11
16  00:00:09
17  00:00:08
18  00:00:06
19  00:00:04
20  00:01:08
21  00:00:39
22  00:00:11
23  00:00:08
24  00:00:08
25  00:00:10
26  00:00:08
27  00:00:08
28  00:00:10
29  00:00:09
..       ...
46  00:00:37
47  00:05:10
48  00:00:20
49  00:00:15
50  00:01:00
51  00:00:21
52  00:01:02
53  00:00:10
54  00:00:07
55  00:05:05
56  00:03:49
57  00:05:04
58  00:05:02
59  00:02:04
60  00:00:08
61  00:11:34
62  00:00:03
63  00:04:02
64  00:00:32
65  00:08:20
66  00:00:20
67  00:00:03
68  00:00:15
69  00:00:40
70  00:00:33
71  00:00:07
72  00:00:09
73  00:00:13
74  00:01:21
75  00:01:21

[76 rows x 6 columns]

In [9]:
import pandas as pd
data = pd.read_csv("C:\Projects\Data annotation\RESEARCH WORK\Research Work.csv", low_memory=False)
print("Total rows: {0}".format(len(data)))
print(list(data))

Total rows: 76
['ACTIVITY\tDATE\tCAMERA\tACTUAL (START)\tACTUAL(END)\tTIMESTAMP']

In [12]:
import pandas as pd
df2=pd.read_csv("F:\Projects\Data annotation\RESEARCH WORK\Research_Work.csv")
print(df2)

                ACTIVITY    DATE  CAMERA     START       END TIMESTAMP
0            WALKING - A  Jun-21       1   2:47:28   2:47:34   0:00:06
1            WALKING - A  Jun-21       1   2:48:10   2:48:13   0:00:03
2            WALKING - A  Jun-21       1   2:48:28   2:48:34   0:00:06
3            WALKING - A  Jun-21       1   3:04:38   3:05:11   0:00:33
4            WALKING - A  Jun-21       1   4:09:05   4:09:11   0:00:06
5            WALKING - A  Jun-21       1   4:11:51   4:11:58   0:00:07
6            WALKING - A  Jun-21       1   4:12:43   4:12:49   0:00:06
7            WALKING - A  Jun-21       1   4:14:21   4:14:27   0:00:06
8            WALKING - A  Jun-21       1   4:14:58   4:15:05   0:00:07
9            WALKING - A  Jun-21       1   4:55:41   4:55:53   0:00:12
10           WALKING - A  Jun-21       1   4:57:21   4:57:26   0:00:05
11           WALKING - A  Jun-21       1   4:58:33   4:58:36   0:00:03
12           WALKING - A  Jun-21       1   4:58:45   4:58:49   0:00:04
13           WALKING - A  Jun-21       1   4:58:58   4:59:14   0:00:16
14           WALKING - A  Jun-21       2  14:11:18  14:11:26   0:00:08
15           WALKING - A  Jun-21       2  14:11:53  14:12:04   0:00:11
16           WALKING - A  Jun-21       2  14:12:35  14:12:44   0:00:09
17           WALKING - A  Jun-21       2  14:13:02  14:13:10   0:00:08
18           WALKING - A  Jun-21       2  14:13:35  14:13:41   0:00:06
19           WALKING - A  Jun-21       2  14:13:37  14:13:41   0:00:04
20           WALKING - A  Jun-21       2  14:17:18  14:18:26   0:01:08
21           WALKING - A  Jun-21       2  14:17:43  14:18:22   0:00:39
22           WALKING - A  Jun-21       2  14:56:35  14:56:46   0:00:11
23           WALKING - A  Jun-21       2  14:57:06  14:57:14   0:00:08
24           WALKING - A  Jun-21       2  15:56:00  15:56:08   0:00:08
25           WALKING - A  Jun-21       2  15:58:21  15:58:31   0:00:10
26           WALKING - A  Jun-21       2  16:07:44  16:07:52   0:00:08
27           WALKING - A  Jun-21       3  14:11:45  14:11:53   0:00:08
28           WALKING - A  Jun-21       3  14:12:40  14:12:50   0:00:10
29           WALKING - A  Jun-21       3  14:12:54  14:13:03   0:00:09
..                   ...     ...     ...       ...       ...       ...
46          STANDING - B  Jul-21       2  14:47:34  14:48:11   0:00:37
47          STANDING - B  Jul-21       2  14:51:24  14:56:34   0:05:10
48          STANDING - B  Jul-21       2  14:56:46  14:57:06   0:00:20
49          STANDING - B  Jul-21       2  14:57:15  14:57:30   0:00:15
50          STANDING - B  Jul-21       2  15:58:41  15:59:41   0:01:00
51          STANDING - B  Jul-21       2  16:00:29  16:00:50   0:00:21
52          STANDING - B  Jul-21       2  16:06:41  16:07:43   0:01:02
53          STANDING - B  Jul-21       2  16:07:34  16:07:44   0:00:10
54          STANDING - B  Jul-21       3  16:06:00  16:06:07   0:00:07
55           SITTING - C  Jul-21       1   2:41:16   2:46:21   0:05:05
56           SITTING - C  Jul-21       1   3:05:11   3:09:00   0:03:49
57           SITTING - C  Jul-21       1   3:25:08   3:30:12   0:05:04
58           SITTING - C  Jul-21       1   3:46:36   3:51:38   0:05:02
59           SITTING - C  Jul-21       1   5:15:13   5:17:17   0:02:04
60           SITTING - C  Jul-21       2  11:08:19  11:08:27   0:00:08
61           SITTING - C  Jul-21       2  13:36:21  13:47:55   0:11:34
62           SITTING - C  Jul-21       2  14:11:15  14:11:18   0:00:03
63           SITTING - C  Jul-21       2  14:18:22  14:22:24   0:04:02
64           SITTING - C  Jul-21       2  14:50:13  14:50:45   0:00:32
65           SITTING - C  Jul-21       2  17:09:49  17:18:09   0:08:20
66   CLEANING DISHES - D  Jul-21       1   2:41:16   2:41:36   0:00:20
67           FEEDING - E  Jul-21       1   3:28:07   3:28:10   0:00:03
68           FEEDING - E  Jul-21       1   4:58:58   4:59:13   0:00:15
69           FEEDING - E  Jul-21       2  16:02:54  16:03:34   0:00:40
70  PREPARE SANDWICH - F  Jul-21       1   4:57:59   4:58:32   0:00:33
71     CLEANING ROOM - G  Jul-21       2  16:06:46  16:06:53   0:00:07
72     CLEANING ROOM - G  Jul-21       2  16:06:58  16:07:07   0:00:09
73     CLEANING ROOM - G  Jul-21       2  16:07:14  16:07:27   0:00:13
74         TELEPHONE - H  Jul-21       2  14:18:36  14:19:57   0:01:21
75         TELEPHONE - H  Jul-21       2  14:18:36  14:19:57   0:01:21

[76 rows x 6 columns]

In [13]:
df2[["START","END","TIMESTAMP"]]

       START       END TIMESTAMP
0    2:47:28   2:47:34   0:00:06
1    2:48:10   2:48:13   0:00:03
2    2:48:28   2:48:34   0:00:06
3    3:04:38   3:05:11   0:00:33
4    4:09:05   4:09:11   0:00:06
5    4:11:51   4:11:58   0:00:07
6    4:12:43   4:12:49   0:00:06
7    4:14:21   4:14:27   0:00:06
8    4:14:58   4:15:05   0:00:07
9    4:55:41   4:55:53   0:00:12
10   4:57:21   4:57:26   0:00:05
11   4:58:33   4:58:36   0:00:03
12   4:58:45   4:58:49   0:00:04
13   4:58:58   4:59:14   0:00:16
14  14:11:18  14:11:26   0:00:08
15  14:11:53  14:12:04   0:00:11
16  14:12:35  14:12:44   0:00:09
17  14:13:02  14:13:10   0:00:08
18  14:13:35  14:13:41   0:00:06
19  14:13:37  14:13:41   0:00:04
20  14:17:18  14:18:26   0:01:08
21  14:17:43  14:18:22   0:00:39
22  14:56:35  14:56:46   0:00:11
23  14:57:06  14:57:14   0:00:08
24  15:56:00  15:56:08   0:00:08
25  15:58:21  15:58:31   0:00:10
26  16:07:44  16:07:52   0:00:08
27  14:11:45  14:11:53   0:00:08
28  14:12:40  14:12:50   0:00:10
29  14:12:54  14:13:03   0:00:09
..       ...       ...       ...
46  14:47:34  14:48:11   0:00:37
47  14:51:24  14:56:34   0:05:10
48  14:56:46  14:57:06   0:00:20
49  14:57:15  14:57:30   0:00:15
50  15:58:41  15:59:41   0:01:00
51  16:00:29  16:00:50   0:00:21
52  16:06:41  16:07:43   0:01:02
53  16:07:34  16:07:44   0:00:10
54  16:06:00  16:06:07   0:00:07
55   2:41:16   2:46:21   0:05:05
56   3:05:11   3:09:00   0:03:49
57   3:25:08   3:30:12   0:05:04
58   3:46:36   3:51:38   0:05:02
59   5:15:13   5:17:17   0:02:04
60  11:08:19  11:08:27   0:00:08
61  13:36:21  13:47:55   0:11:34
62  14:11:15  14:11:18   0:00:03
63  14:18:22  14:22:24   0:04:02
64  14:50:13  14:50:45   0:00:32
65  17:09:49  17:18:09   0:08:20
66   2:41:16   2:41:36   0:00:20
67   3:28:07   3:28:10   0:00:03
68   4:58:58   4:59:13   0:00:15
69  16:02:54  16:03:34   0:00:40
70   4:57:59   4:58:32   0:00:33
71  16:06:46  16:06:53   0:00:07
72  16:06:58  16:07:07   0:00:09
73  16:07:14  16:07:27   0:00:13
74  14:18:36  14:19:57   0:01:21
75  14:18:36  14:19:57   0:01:21

[76 rows x 3 columns]

In [73]:
import pandas as pd
df1=pd.read_csv("F:\Projects\Data annotation\ACC.csv")
print(df1)

         1529604467.000000   1529604467.000000   1529604467.000000.1
0                     32.0                32.0                  32.0
1                    -19.0               -43.0                 -39.0
2                    -18.0               -37.0                 -32.0
3                    -33.0               -33.0                 -46.0
4                     -8.0               -50.0                 -31.0
5                     -3.0               -46.0                 -42.0
6                     -7.0               -48.0                 -49.0
7                    -12.0               -53.0                 -47.0
8                     -8.0               -47.0                 -43.0
9                     -2.0               -57.0                 -56.0
10                    -4.0               -59.0                 -55.0
11                   -24.0               -40.0                 -54.0
12                   -16.0               -40.0                 -48.0
13                   -16.0               -40.0                 -50.0
14                    -2.0               -62.0                 -48.0
15                   -19.0               -44.0                 -43.0
16                   -14.0               -37.0                 -33.0
17                   -29.0               -63.0                 -42.0
18                   -32.0               -61.0                 -42.0
19                   -16.0               -46.0                 -33.0
20                   -12.0               -52.0                 -48.0
21                   -38.0               -48.0                 -37.0
22                   -25.0               -36.0                 -46.0
23                   -15.0               -17.0                 -50.0
24                   -21.0                -8.0                 -46.0
25                    -5.0                -4.0                 -42.0
26                    14.0               -19.0                 -49.0
27                    19.0               -17.0                 -50.0
28                    19.0               -11.0                 -52.0
29                    28.0               -21.0                 -53.0
...                    ...                 ...                   ...
2890603               42.0               -23.0                 -37.0
2890604               44.0               -21.0                 -37.0
2890605               43.0               -21.0                 -36.0
2890606               38.0               -23.0                 -34.0
2890607               48.0               -30.0                 -36.0
2890608               46.0               -27.0                 -37.0
2890609               47.0               -28.0                 -36.0
2890610               43.0               -25.0                 -38.0
2890611               43.0               -23.0                 -39.0
2890612               46.0               -25.0                 -37.0
2890613               46.0               -24.0                 -38.0
2890614               45.0               -22.0                 -37.0
2890615               45.0               -22.0                 -36.0
2890616               45.0               -21.0                 -36.0
2890617               48.0               -22.0                 -36.0
2890618               47.0               -22.0                 -37.0
2890619               45.0               -21.0                 -37.0
2890620               45.0               -21.0                 -36.0
2890621               47.0               -22.0                 -33.0
2890622               48.0               -22.0                 -36.0
2890623               48.0               -21.0                 -35.0
2890624               47.0               -20.0                 -36.0
2890625               47.0               -20.0                 -35.0
2890626               47.0               -19.0                 -36.0
2890627               46.0               -20.0                 -35.0
2890628               46.0               -20.0                 -36.0
2890629               47.0               -20.0                 -36.0
2890630               48.0               -21.0                 -35.0
2890631               47.0               -20.0                 -37.0
2890632               46.0               -20.0                 -36.0

[2890633 rows x 3 columns]

In [75]:
import datetime
C = datetime.datetime.fromtimestamp(1529604467.000000 ).isoformat()
print(C)

2018-06-21T14:07:47